################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Data-Challenge-2024/FileContentIndex/88e90d62-dd17-43f8-9f51-fc7337b1a4f4.vsidx
/.vs/Data-Challenge-2024/FileContentIndex/7be2c374-537f-4465-bce6-2d7230aac6ea.vsidx
/.vs/Data-Challenge-2024/FileContentIndex/007207d2-b14a-45b8-81d5-2aad1129cb9d.vsidx
/.vs/Data-Challenge-2024/FileContentIndex
/.vs/Data-Challenge-2024/v17
/.vs

/chartremove.csv
/grouped.csv
